<div class="admin-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="dashboard">
      <img src="assets/images/MOLI-GROUP_Red-1.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-custom" id="navbarNav">
      <ul>
        <li>
          <a routerLink="dashboard" class="btn btn-danger">Gửi tâm sự</a>
        </li>
        <li>
          <a routerLink="cfs-show" class="btn btn-danger">Tâm sự cùng nhau</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="admin-body">
  <div class="admin-logo">
    <img src="assets/images/MOLI-GROUP_Red-1.png" alt="">
  </div>
  <div class="admin-approve">
    <ul *ngIf="messages" class="list-group">
      <li *ngFor="let message of messages" class="list-group-item d-flex align-items-center">
        <div class="row align-items-center">
          <div class="col-auto">
            <p-inputSwitch class="d-flex" (onChange)="handleChange($event, message)"
                           [ngModel]="message.status"></p-inputSwitch>
          </div>
          <div class="col">
            {{message.content}}
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
